In [1]:
import kasir as c

TEST CASE 1 = ADD ITEM

In [2]:
#Customer ingin menambahkan item Ayam goreng dan pasta gigi

trnsct_123 = c.Transaction()
trnsct_123.add_item("Ayam", 2, 20_000)
trnsct_123.add_item("Pasta Gigi", 3, 15_000)
trnsct_123.add_item("Mie goreng", 4, 12_000)

Item yang dibeli adalah: {'Ayam': [2, 20000]}.
Item yang dibeli adalah: {'Ayam': [2, 20000], 'Pasta Gigi': [3, 15000]}.
Item yang dibeli adalah: {'Ayam': [2, 20000], 'Pasta Gigi': [3, 15000], 'Mie goreng': [4, 12000]}.

TEST CASE 2 = UPDATE ITEM

In [3]:
#Customer ingin mengupdate nama item, jumlah item, dan harga item

trnsct_123.update_item_name("Pasta Gigi", "Telur")
trnsct_123.update_item_qty("Ayam", 1)
trnsct_123.update_item_price("Mie goreng", 15_000)

{'Ayam': [2, 20000], 'Mie goreng': [4, 12000], 'Telur': [3, 15000]}
{'Ayam': [1, 20000], 'Mie goreng': [4, 12000], 'Telur': [3, 15000]}
{'Ayam': [1, 20000], 'Mie goreng': [4, 15000], 'Telur': [3, 15000]}

TEST CASE 3 = DELETE ITEM

In [4]:
#Customer ingin menghapus item

trnsct_123.delete_item("Telur")

Menghapus pesanan Telur.
{'Ayam': [1, 20000], 'Mie goreng': [4, 15000]}

TEST CASE 4 = RESET TRANSAKSI

In [5]:
#Customer ingin mereset transaksi
trnsct_123.reset_transaction()

Semua item berhasil dihapus.

In [6]:
trnsct_123 = c.Transaction()
trnsct_123.add_item("Ayam", 2, 20_000)
trnsct_123.add_item("Pasta Gigi", 3, 15_000)
trnsct_123.add_item("Mie goreng", 4, 12_000)
trnsct_123.add_item("Telur", 12, 25_000)
trnsct_123.add_item("Ikan", 5, 20_000)
trnsct_123.add_item("Beras", 1, 60_000)
trnsct_123.add_item("Minyak goreng", 2, 50_000)
trnsct_123.add_item("Sabun mandi", 4, 20_000)

Item yang dibeli adalah: {'Ayam': [2, 20000]}.
Item yang dibeli adalah: {'Ayam': [2, 20000], 'Pasta Gigi': [3, 15000]}.
Item yang dibeli adalah: {'Ayam': [2, 20000], 'Pasta Gigi': [3, 15000], 'Mie goreng': [4, 12000]}.
Item yang dibeli adalah: {'Ayam': [2, 20000], 'Pasta Gigi': [3, 15000], 'Mie goreng': [4, 12000], 'Telur': [12, 25000]}.
Item yang dibeli adalah: {'Ayam': [2, 20000], 'Pasta Gigi': [3, 15000], 'Mie goreng': [4, 12000], 'Telur': [12, 25000], 'Ikan': [5, 20000]}.
Item yang dibeli adalah: {'Ayam': [2, 20000], 'Pasta Gigi': [3, 15000], 'Mie goreng': [4, 12000], 'Telur': [12, 25000], 'Ikan': [5, 20000], 'Beras': [1, 60000]}.
Item yang dibeli adalah: {'Ayam': [2, 20000], 'Pasta Gigi': [3, 15000], 'Mie goreng': [4, 12000], 'Telur': [12, 25000], 'Ikan': [5, 20000], 'Beras': [1, 60000], 'Minyak goreng': [2, 50000]}.
Item yang dibeli adalah: {'Ayam': [2, 20000], 'Pasta Gigi': [3, 15000], 'Mie goreng': [4, 12000], 'Telur': [12, 25000], 'Ikan': [5, 20000], 'Beras': [1, 60000], 'Minyak goreng': [2, 50000], 'Sabun mandi': [4, 20000]}.

TEST CASE 5 = MENAMPILKAN SEMUA ITEM YANG DIPESAN

In [7]:
#Customer ingin mengecek seluruh belanjaan
trnsct_123.print_item()

| Nama Item     |   Jumlah Item |   Harga/Item |
|---------------|---------------|--------------|
| Ayam          |             2 |        20000 |
| Pasta Gigi    |             3 |        15000 |
| Mie goreng    |             4 |        12000 |
| Telur         |            12 |        25000 |
| Ikan          |             5 |        20000 |
| Beras         |             1 |        60000 |
| Minyak goreng |             2 |        50000 |
| Sabun mandi   |             4 |        20000 |

TES CASE 6 = TOTAL PRICE

In [8]:
#Customer ingin menghitung total belanjaan
trnsct_123.total_price()

| Nama Item     |   Jumlah Item |   Harga/Item |
|---------------|---------------|--------------|
| Ayam          |             2 |        20000 |
| Pasta Gigi    |             3 |        15000 |
| Mie goreng    |             4 |        12000 |
| Telur         |            12 |        25000 |
| Ikan          |             5 |        20000 |
| Beras         |             1 |        60000 |
| Minyak goreng |             2 |        50000 |
| Sabun mandi   |             4 |        20000 |
Selamat, Anda mendapatkan diskon 10% sebesar Rp 11100.
Total belanja Anda adalah Rp 210900.